.router-navigation-button {
  background: none;
  color: white;
  border: none;
  outline: none;
  transition: all 0.5s ease-in-out;
  font-size: 2em;
  margin: 0;
}

.router-navigation-button:hover {
  background: gray;
  color: black;
  border: none;
  outline: none;
  transition: all 0.5s ease-in-out;
}
.router-navigation-button:focus {
  border: none;
  outline: none;
}
