[package]
name = "seqraph"
version = "0.1.0"
authors = ["Linus Behrbohm <linusbehrbohm@web.de>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
pretty_assertions = "^0.6"
lazy_static = "^1.4"
nalgebra = "^0.24"
itertools = "0.10"
petgraph = "^0.5"
serde_json = "^1"

[dependencies.serde]
version = "^1"
features = [
  "derive",
]
