.expander-container {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  border-spacing: 0;
  display: grid;
  grid-template-rows: max-content auto;
  grid-template-columns: min-content auto;
}
.expander-icon {
  display: flex;
  color: rgba(255, 255, 255, 1.0);
  margin: 0;
  padding: 0;
  height: 100%;
  grid-column: 1;
  grid-row: 1;
}
.expander-icon:hover {
  color: rgba(0, 0, 0, 1.0);
  background: rgba(255, 255, 255, 1.0);
}
.expander-content {
  padding: 0;
  margin: 0;
  height: 100%;
  max-height: 100%;
  grid-column: 2;
  grid-row: 1 / -1;
}
.expander-line {
  height: 100%;
  width: 1px;
  background: rgba(100, 100, 100, 1.0);
  margin: 0 auto;
  grid-column: 1;
  grid-row: 2 / -1;
}
