@import './router.css';
@import '../../common/styles/expander.css';
@import './task.css';
@import './page.css';

html, body {
  margin: 0;
  right: 0;
  background: black;
  line-height: 1em;
  font-size: 16px;
}

@media(max-device-width:800px){
  html, body{
    font-size: 130%;
  }
}
