.task {
  display: grid;
  max-width: 100%;
  font-family: monospace;
  user-select: none;
  text-align: left;
  margin: 0;
  padding: 0;
  padding-left: 0.2em;
  color: white;
  background: rgba(60, 60, 60, 1.0);
}
.task-container {
  position: relative;
  right: 0;
  nav-index: 0;
}
.task-container:focus {
  outline: solid #1A7 1px;
  z-index: 9999999;
}
.task-preview {
  max-width: 100%;
}
.task-title {
  font-size: 1em;
  font-weight: bold;
  line-height: 1em;
  padding: 0;
  margin: 0;
}
.task-description-container {
  grid-column: 1;
  height: 100%;
}
.task-assignees-container {
  grid-column: 2;
  height: 100%;
  margin-left: auto;
}
.task p {
  font-size: 1em;
  padding: 0;
  margin: 0;
}
.task-children {
  grid-column: 1 / 3;
}
