.task {
  max-width: 100%;
  font-family: monospace;
  user-select: none;
  text-align: left;
  margin: 0;
  padding: 0;
  color: white;
  background: rgba(60, 60, 60, 1.0);
}
.task-container {
  right: 0;
}
.task-content {
  display: grid;
  padding-left: 0.2em;
}
.task-preview {
  max-width: 100%;
  padding-left: 0.2em;
}
.task-title {
  font-size: 1em;
  font-weight: bold;
  line-height: 1em;
  padding: 0;
  margin: 0;
}
.task-description-container {
  grid-column: 1;
  height: 100%;
}
.task-description-title {
  font-weight: bold;
  color: lightgray;
}
.task-description-text {
}
.task-assignees-container {
  grid-column: 2;
  height: 100%;
  margin-left: auto;
}
.task p {
  font-size: 1em;
  padding: 0;
  margin: 0;
}
.task-children {
  grid-column: 1 / 3;
}
.task-tree-level {
  nav-index: 0;
}
.task-tree-level:focus {
  outline: solid rgba(20,230,140,1.0) 1px;
  outline-offset: -1px;
  z-index: 9999;
}
