.tree-container {
  width: fit-content;
  height: fit-content;
}
.tree-node {
  width: 100%;
  height: fit-content;
  padding: 0;
  border: none;
  border-spacing: 0;
  table-layout: fixed;
}
.tree-node tr td {
  padding: 0;
}
.tree-header th {
  padding: 0;
  height: 12px;
  font-weight: normal;
}
.tree-element {
  padding: 0;
}
.tree-icon-column {
  padding: 0;
  margin: 0;
  width: 16px;
}
.tree-icon {
  color: white;
  padding: 0;
  margin: 0;
  display: flex;
  float: left;
  vertical-align: baseline;
}
.tree-header {
  background-color: rgba(60, 60, 60, 1.0);
}
.tree-line-cell {
}
.tree-line {
  height: 100%;
  width: 1px;
  background: rgba(60, 60, 60, 1.0);
  display: block;
  margin: 0 auto;
}
