
.budget-container {
  display: grid;
  margin: 0;
  max-width: 100%;
}

.budget-header {
}
.budget-name {
  font-size: 2em;
}
.transaction-table {
  font-size: 3em;

  display: table;
  width: 100%;
  max-width: 100%;

  border: none;
  border-collapse: collapse;
}
.transaction-table-header {
  display: table-header-group;
}
.transaction-table-body {
  display: table-row-group;
}
.transaction-row {
  display: table-row;
  width: max-content;
}
.transaction-header {
  display: table-cell;
  padding: 0.5em;
  border: 0.1em #555 solid;
  border-top: none;
  width: max-content;
}
.transaction-table .transaction-header:first-child {
    border-left: none;
}
.transaction-table .transaction-header:last-child {
    border-right: none;
}
.transaction-cell {
  display: table-cell;
  padding: 0.5em;
  border-left: 0.1em #555 solid;
  border-right: 0.1em #555 solid;
  width: max-content;
}
.transaction-table .transaction-cell:first-child {
    border-left: none;
}
.transaction-table .transaction-cell:last-child {
    border-right: none;
}
